* {
  margin: 0;
  padding: 0;
  /* outline: solid 1px red; */
  font-family: inter, open-sans, sans-serif;
  letter-spacing: 0.08em;
  line-height: 1.5;
}
body {
  background-color: #f1f1f1;
}
h1,
h2,
.grid--job,
.sluzba,
.cena {
  font-family: krona one, open-sans, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
.logo {
  font-weight: bold;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 10em;
  padding: 1em 1em;
  position: sticky;
  top: 0;
}
ul {
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
}
.nav-link {
  margin: 0em 0em 0 2em;
}

.main-claim-image {
  display: flex;
  margin: 5em 10em;
  justify-content: space-between;
}
.main-claim-button {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.main-claim {
  font-size: 4rem;
}
.order-button {
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #006ed2;
  color: #fafafa;
  margin: 1em 0;
  align-self: start;
  border: none;
}
.main-image {
  /* width: 50%; */
  border-radius: 10px;
}
h2 {
  font-size: 2rem;
}
.section-about-us {
  margin: 5em 10em;
}
.text-about-us {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section-about-us p {
  padding: 0em 0;
  width: 38ch;
  margin-top: 2em;
}
.flex-about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.interier-photo {
  border-radius: 10px;
}
.grid-profile {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-gap: 2em;
  margin: auto;
  max-width: 52%;
  grid-template-areas:
    "personal line line"
    "jmeno ods1 ods2";
}

.grid--name {
  writing-mode: vertical-lr;
  text-transform: uppercase;
  rotate: 180deg;
  grid-area: jmeno;
  justify-self: start;
  align-self: start;
  text-align: right;
}
.grid--job {
  grid-area: personal;
  text-transform: uppercase;
}
.grid--p1 {
  grid-area: ods1;
  max-width: 45ch;
}
.grid--p2 {
  grid-area: ods2;
  max-width: 45ch;
}

.grid--line {
  grid-area: line;
  place-self: center stretch;
  border: none;
  height: 2px;
  background: #000;
  background: repeating-linear-gradient(
    90deg,
    #000,
    #000 6px,
    transparent 6px,
    transparent 12px
  );
}
.fotky-profil {
  margin: 0px auto;
  margin-top: 4em;
  max-width: 52%;
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}
.profile-photo1,
.profile-photo2 {
  max-width: 25.5vw;
}
.margin-bottom {
  margin-bottom: 1em;
}
.cenikwrap {
  background-color: #191919;
  padding: 1px;
  margin-top: 6em;
  min-height: 100vh;
}
.cenik {
  color: #f1f1f1;
  margin: auto;
  margin-top: 6em;
  max-width: 60%;
  text-align: center;
}
.flexik {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.karta--sluzby {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.cas {
  font-size: 0.8em;
  font-weight: 300;
  text-transform: lowercase;
  font-family: inter;
}
.cena {
  align-self: flex-end;
  font-size: 1.5em;
}